.field-div {
    position:absolute;
    width:98%;
}

.field-first-heading {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.2px;
}

.field-second-heading {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.17px;
}

.field-body {
    font-size: 17px;
    line-height: 1.38;
    white-space: pre-wrap;
}

.field-links {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.27px;
    color: var(--light-navy);
}

.field-links-text {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.27px;
}