@page "/"

<div class="d-flex flex-column w-100 h-100 text-center">
    <div class="doc-title">@HomePageStaticTexts.Title</div>
    <div class="doc-subtitle">@HomePageStaticTexts.SubTitleOne @HomePageStaticTexts.SubTitleTwo</div>
    <div class="doc-footer mb-2">@HomePageStaticTexts.Copyright</div>
</div>